.footer{
    position:relative;
    background-color: rgb(228, 228, 236);
    color: rgb(33, 59, 67);
    font-size: 20px;
    line-height: 25px;
}
.row{
    margin-left: 100px;
    display:flex;
    align-items:first baseline ;
    justify-content: space-between;
}
#footer-item{
    color: black;
}
.col{
    flex-basis:25% ;
    padding: 5px;
}
.logo{
    width: 25px;
    height: 25px;
    margin: 5px;
    margin-top: 5px;
}
.col h3{
    width: fit-content;
    margin: 80px;
}
.img{
    padding-block:5% ;
    
}
.col h2{
    font-weight: 50;
}
.p{
    font-size: 15px;
}

.col a:link{
    text-decoration: none;
    color:blue;
    opacity: 70%;
}
.col a:visited{
    text-decoration: underline;
    color:black;
}
.col a:hover{
    text-decoration: underline;
    color:brown;
}
