.award{
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 50px;
}
.award-para{
    text-align: justify;
    font-size: 25px;
}
.Program-home-button{
    color: white;
    height: 50px;
    width: 125px;
    background-color: rgb(31, 58, 110);
    
    margin-top: -5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
.Program-home-button:hover{
    text-decoration:wavy;
}
.info-box{
    margin-top: -25px;
    margin-left: 150px;
    padding: 5px;
}
.blog-page-info {
    background-color: wheat;
    width: 275px;
    margin-left: 125px;
    margin-top: -50px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 0.25px;
    color: rgb(243 202 125);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.blog-page-info-text{
    color:rgb(109 129 48);
}
#info-item {
    color:rgb(109 129 48);
}





